.feedbackinput{
    color: black;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid black;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.submit {
    width:100%;
    background-color: black;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

.logo {
    width: 2rem;
    height: 2rem;
    margin-right: 3rem;
}

.row {
    display: flex;
    margin-top: 2rem;
}

.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin-top: 2rem;
    margin: 3rem auto 6rem;
    align-items: center;
    display: flex;
    flex-direction: column;

}